<h1>Welcome to Rock, Paper, Scissors<h1>
  <p>In rock, paper, scissors you choose one of these and so does your opponent. Rock beats scissors, scissors beats paper and paper beats rock. If you match your opponent then it is a draw.</p>
  <p>You can play against someone else or against a computer that will randomly generate a response.
  <p><a href="/pve">Play against a computer</a></p>
  <p><a href="/pvp">Play against another person</a></p>
