<h1>Play against your friend</h1>
<p>Player 2 it's now your time to choose your weapon</p>
<p>Choose wisely</p>
<p><a href="/pvp/<%=$player1%>/rock">Rock</a></p>
<p><a href="/pvp/<%=$player1%>/paper">Paper</a></p>
<p><a href="/pvp/<%=$player1%>/scissors">Scissors</a></p>
