<h1>Play against a computer</h1>
<p>Choose your weapon</p>
<p><a href="/pve/rock/<%=@computer%>">Rock</a></p>
<p><a href="/pve/paper/<%=@computer%>">Paper</a></p>
<p><a href="/pve/scissors/<%=@computer%>">Scissors</a></p>
