<h1>Play against your friend</h1>
<p>Player 1 choose your weapon</p>
<p>Player 2 don't peek now</p>
<p><a href="/pvp/9467812">Rock</a></p>
<p><a href="/pvp/1063289">Paper</a></p>
<p><a href="/pvp/4738926">Scissors</a></p>
