<h1>Play against your friend</h1>
<p>Player 1 choose your weapon</p>
<p>Player 2 don't peek now</p>
<p><a href="/pvp/rock">Rock</a></p>
<p><a href="/pvp/paper">Paper</a></p>
<p><a href="/pvp/scissors">Scissors</a></p>
