<h1> <%=@result%></h1>
<p>The result of the match is <%=@result%></p>
<p>Player 1 chose <%=@player1%></p>
<p>Player 2 chose <%=@player2%></p>

<p><a href="/pve">Play against a computer</a></p>
<p><a href="/pvp">Play against another person</a></p>
